:root{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

a:hover {
    font-weight: bold;
}

header{
    background-color: #E7F6DD;
    margin: 1em;
    border:0px;
    padding: 0.5em;
    font-size: large;
}
a{
    color: green;
    font-size: larger;
}

main{
    background-color: #E7F6DD;
    margin: 1em;
    padding: 1em;
}

footer{
    background-color: #E7F6DD;
    margin: 1em;
    padding: 0.5em;
}

ul{
    padding: 0%;
}

li{
    padding: 0.5em;
}

header nav ul li{
    padding: 0.2em;
}

@media screen and (max-width: 768px){
    nav ul li{
        display: flex;
        justify-content: center;
        display:inline;
    }   
}

.list-inline-item{
    font-size: x-large;
}

.list-inline{
    padding: 0%;
    margin: 0%;
    border: 0em;
}

button{
    font-size: large;
    margin: 1em;
    border: solid 5px;
}

footer p{
    margin: 0%;
}

footer nav ul li{
    padding: 0.2em;
}

@media screen and (max-width: 768px){
    footer ul li{
        font-size: smaller;
        display: flex;
        justify-content: center;
        display:inline;
    }   
}

.spacer{
    margin-bottom: 1.5em;
}

.active {
    font-weight: bold;
    font-size: larger;
}

.inactive{
    color: grey;
}

img{
   max-width:100%; 
}

#CheckPLZButton {
    display: flex;
    display: inline;
    margin: 1em;
}

#plzOutput {
    display: flex;
    display: inline;
    max-width: 100%;
    padding: 1em;
}


